<div id="<%= dom_id message %>" class="mb-2">
  <%= image_tag message.user.profile_picture || asset_path('default_profile.jpg'), class: 'float-start' %>
  <div class="message">
    <strong><%= message.user %></strong><br/> 
    <%= message.content %>
  </div>
</div>