<h1>About</h1>
<p><strong>TurboChats!</strong> is a very basic chat rooms app made with Ruby on Rails 7.</p>

<div class="card mb-3" style="width: 18rem;">
  <h5 class="card-header">Contact</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Emiliano López</li>
    <li class="list-group-item">+54 9 261 5400998</li>
    <li class="list-group-item">emilianolch@gmail.com</li>
  </ul>
</div>

<p>
  Visit the project homepage on GitHub<br/>
  <%= link_to 'https://github.com/emilianolch/turbochat', 'https://github.com/emilianolch/turbochat' %>
</p>
